.Rectangle1{
    box-sizing: border-box;

    position: absolute;
    width:647px;
    height: 786px;
    left: 71px;
    top: 78px;

    background: #fff;
    border : 3px solid #000;
    border-radius: 30px;
    text-align: center;
    align-items: center;


    display : flex;
    flex-direction : row;

}

.Rectangle2{
    box-sizing: border-box;

    position: absolute;
    width: 701px;;
    height: 719px;
    left: 756px;
    top: 98px;

    background: #fff;
    border : 3px solid #000;
    border-radius: 30px;


    display : flex;
    flex-direction : row;
    display: inline-block;
    text-align: center;
   



}

.LEMBA {
    margin: 15px;
    font-size: 60px;
    font-weight: 700;


}

.Login {
    font-size: large;
    margin: 10px;
    font-size: 25px;
}

.Line{
    border-top: 3px solid black;
    margin:30px;
}

.SignUp{
    font-size: 8px;
}

.Button{
    background-color: white;
    border-radius:30px;
    padding: 10px 50px;
    margin: 10px;

}

.Button:hover{
    background-color:#000;
    color:#fff;
}

.Form{
    background-color: white;
    border-radius:30px;
    padding: 10px 30px;
    margin: 10px;
}
